html,
body {
  position: relative;
  height: 100%;
  scroll-behavior: smooth;
  padding-top: 28px;
  overflow-x: hidden;
}

.wrap {
  min-height: 100%;
  height: auto;
}

.wrap > .container {
  padding: 70px 15px 20px;
}

.navbar {
  background-color: #1f2833;
}

.navbar-brand {
  height: 40px;
}

.navbar-brand img {
  max-height: 35px;
}

.nav-item .btn {
    color: #66fcf1;
    border-color: #66fcf1;
}

.btn-filter {
    color: #66fcf1;
    border-color: #66fcf1;
    background-color: #1f2833;
    margin-left: -7%;
    width: 7%;
}

.btn-filter:hover, .btn-navbar:hover {
  color: white;
}

.footer {
    height: 60px;
    background-color: #1f2833;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: justify;
    color: white;
    padding-top: 15%;
    padding-bottom: 25%;
    background: linear-gradient(
            rgba(20,20,20, .5),
            rgba(20,20,20, .5)),
            url("../img/wallpaper.jpg");
}

.jumbotron p {
    font-size: 18px;
}

.jumbotron a {
    position: absolute;
    padding-top: 60px;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
.jumbotron a:hover {
    opacity: .5;
}

.jumbotron a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
}

.filter-column {
    padding: 2%;
}

.cards-filter {
    height:1080px !important; height /**/: 1200px;
    padding: 1%;
    border:1px solid #EEE; border-right:0 solid;
    overflow:auto;
}

@-webkit-keyframes sdb04 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
}
@keyframes sdb04 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}

@media screen and (max-width: 768px) {
    .jumbotron h1 {
        font-size: 40px;
    }
    .jumbotron a {
        display: none;
    }

}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* Mia parte di CSS */
.searchbar {
  background-image: url('../img/searchicon.png');
  background-position: 1% center;
  background-repeat: no-repeat;
  padding: 12px 61px 12px 40px;
}
.btn-search {
  margin-left: -61px;
}
.modal-content {
  height: 600px;
}
.modal-content img {
  height: 600px;
}

.modal-content .close-log {
  position: absolute;
  left: 0;
}
.modal-content .close {
  margin: 0 2%;
  height: 20px;
  width: 20px;
}
.modal-content .close img {
  margin-top: 30%;
  padding: 0;
  height: 70%;
  width: 70%;
}

.modal-content h2 {
  margin: 10% 0 0;
}

.modal-content .info {
  color: gray;
  font-size: 80%;
}

.modal-content .form-group {
  margin: 5%;
}
.modal-content .fg {
  height: 50px;
}
.modal-content div.form-group .form-control {
  border: 0;
  border-bottom: 1px solid lightgrey;
  font-family: "Source sans pro";
}
div.help-block {
  font-size: 80%;
  color: red;
}

.modal-content .btn-important {
  width: 30%;
}
.modal-content button.btn {
  border: 1px solid black;
  margin: 2% 0 0;
}

.container {
  height: 100%;
  width: 100%;
}
.container footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.modal footer a {
  text-decoration: none;
  color: black;
  font-size: 80%;
}

.event-card {
    height: 450px;
}

.event-card .card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* DETTAGLIO ACCOUNT */
div#v-pills-tab {
  background-color: #1F2833;
}

div#v-pills-tab span {
  border-radius: 1px solid white;
  color: white;
  padding: 20px;
}
div#v-pills-tab a {
  /* background-color: #14979c; */
  border-bottom: 1px solid white;
  color: white;
  margin-bottom: 1%;
  padding-left: 20px;
}

div#v-pills-tab a:hover {
    border-bottom: 1px solid #45BB9E;
    color: #45BB9E;
}

div#v-pills-tab a.active {
    border-bottom: 1px solid #66FCF1;
    background-color: #1F2833;
    color: #66FCF1;
}
/* SIDE-BAR */
div.side-bar {
  display: flex;
  flex: 1;
}
div#v-pills-tab {
  flex: 1;
}
div.side-bar-container {
  flex: 1;
}
/* FINE */

/* PRODOTTI IN EVIDENZA */
div.card-deck {
  margin: 2% 3% 2%;
}

.carousel-control-prev {
    left: -10%;
}
.carousel-control-next{
    right: -10%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon{
    color: #1f2833;
}

.map {
    width: 100%;
    height: 100%;
    background-color: grey;
    margin: 2%;
}


@media screen and (max-width: 768px) {

    .charts {
        display: none;
    }

    .filter-column {
        padding: 10%;
    }

  .map {
      width: 100%;
      height: 500px;
      background-color: grey;
  }

  .modal-content img {
    display: none;
  }
  .modal-content .fg {
    height: 70px;
  }
  .no-gutters, .insertion, .container {
    height: 100%;
  }

  #navbarSupportedContent form {
    width: 100%;
    margin-top: 10px;
  }

  #navbarSupportedContent .navbar-nav li.nav-item button {
    float: left;
    width: 100%;
  }
  #navbarSupportedContent .nav-item {
    width: 100%;
  }

  .search-content {
    display: inline-block;
    text-align: left;
  }
  .searchbar {
    margin-left: -5%;
    margin-bottom: 3%;
    width: 110% !important
  }
  .btn-filter {
    width: 110%;
    margin-left: -5%;
  }
  .btn-navbar {
    width: 100%;
    margin-top: 3%;
  }

  /* CREA EVENTO MOBILE */
  div.side-bar {
    height: 100%;
  }
  div#v-pills-tab {
    text-align: center;
  }
  .btn-create-event {
    margin: 5% 0;
  }
  h1.new-event {
    margin-top: 5%;
  }
  /* FINE */
  div#div1 img {
    height: 100% !important;
  }

  div#div1 img, #map {
    width: 100% !important;
    margin: 0 !important;
  }

  div.summary-cart {
    margin: 0 !important;
  }

  div.calendar {
    position: relative !important;
    height: 600px !important;
    top: 0 !important;
    right: 0 !important;
    width: 90% !important;
    margin: 4% 4%;
  }
}

div.calendar {
  height: 66%;
  width: 60%;
  position: fixed;
  z-index: 1;
  top: 23%;
  right: 5%;
  overflow-x: hidden;
}

div#div1 img{
    width: 100%;
    height: 100%;
    margin: 2%;
}


/* CREAZIONE EVENTO */
div.left-input {
  display: inline-block;
  vertical-align: top;
  margin-right: 10%;
}

div.right-input {
  display: inline-block;
}


.btn-create-event, .btn-file, .fileinput-remove-button, .btn-create-sector, .btn-delete-sector, .btn-confirm-payment {
  color: white;
  border-color: black !important;
  background-color: #1f2833 !important;
}

.btn-create-event:hover, .btn-file:hover, .fileinput-remove-button:hover, .btn-create-sector:hover, .btn-delete-sector:hover,
.btn-confirm-payment:hover {
  color: white;
  background-color: black !important;
}
/* FINE */

.btn-block {
  height: 100%;
}

.alert-event {
    margin-top: 5%;
}

.container-events {
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
}

.fc button {
    background-color: #1f2833 !important;
    border-color: #dee2e6 !important;
}

.fc button:focus {
    box-shadow: 0 0 0 0.2rem rgba(31, 40, 51, 0.77);
}

.charts {
    padding: 2%;
}

.dashboard-row {
    margin: 2%;
}